body {
    background-color:#0f0;
}
#bottom {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    height:200px;
    background-color:#005A43;
}

#logo {
}

#logo .bu-b-color {
    font-size:150px;
    padding:20px;
}
#person-info {
    text-align:center;
    color:white;
    font-family:sans-serif;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}