html {
    user-select: none;
    /* cursor: none; */
}

body {
    background-color:#0f0;
}
html:fullscreen {
    background-color: #0f0;
  }
#bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 28vh;
    background-color: #005A43;
}

#logo {
    position: absolute;
    bottom: 0px;
}

#logo .bu-b-color {
    position: absolute;
    bottom: 0px;
    font-size: 15vh;
    padding: 0px;
    margin-bottom: 4vh;
    margin-left: 3vw;
}
#person-info {
    text-align: left;
    margin-left: 25vh;
    color: white;
    font-family: sans-serif;
}

h1 {
    font-size: 9vh;
    font-weight: bold;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
h1.shrinkname {
    font-size: 6vh;
    margin-top: 1vh;
}
h2 {
    font-size: 7vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    position:absolute;
}
h2.shrinkmajor {
    font-size: 4vh;
    margin-top: 1vh;
}

*::-webkit-scrollbar { width: 0 !important }
* { overflow: -moz-scrollbars-none; }
* { -ms-overflow-style: none; }

.swashes {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    display: inline;
    height: 30vh;
}

/* Experimental CSS Animations for Rotating Through Majors */

/* Rotate 2 */
.rotate2{
    animation-name: rotate2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity:0;
}
#rotate1of2{ animation-delay: 0s; }
#rotate2of2{ animation-delay: 1.5s; }
@keyframes rotate2 {
    0% {    
        opacity:1;
    }
    45% {    
        opacity:1;
    }
    50% {
        opacity:0;
    }
}
/* Rotate 3 */
.rotate3{
    animation-name: rotate3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity:0;
}
#rotate1of3{ animation-delay: 0s; }
#rotate2of3{ animation-delay: 1s; }
#rotate3of3{ animation-delay: 2s; }
@keyframes rotate3 {
    0% {    
        opacity:1;
    }
    32% {    
        opacity:1;
    }
    33.3% {
        opacity:0; 
    }
}
/* Rotate 4 */
.rotate4{
    animation-name: rotate3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity:0;
}
#rotate1of4{ animation-delay: 0s; }
#rotate2of4{ animation-delay: 0.75s; }
#rotate3of4{ animation-delay: 1.5s; }
#rotate4of4{ animation-delay: 2.25s; }
@keyframes rotate3 {
    0% {    
        opacity:1;
    }
    20% {    
        opacity:1;
    }
    25% {
        opacity:0;
    }
}