#top-left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 50%;
    background-color:white;
}
#top-right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 50%;
    background-color:white;
}
#bottom-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 50%;
}
#bottom-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 50%;
}

body {
    background-color:#005A43;
}

video {
    height:100%;
    position:absolute;
    right:0px;
}

#person-info {
    text-align:center;
    color:white;
    font-family:sans-serif;
}
.preview-screen {
    text-align:center;
    color:white;

}
.person-preview h1 {
    font-size:60px;
}
.person-preview h2 {
    font-size:40px;
}
#upcoming-queue {
    color:black;
}
.list-group {
    overflow:scroll;
    max-height: 35vh;
}