.quadrant {
    position: fixed;
    border: 5px solid #444;
}

h1 {
    color:#999
}

#left {
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    border-width: 0px 5px 0px 0px;
    overflow:scroll;
}
#top-right {
    right: 0px;
    top: 0px;
    width: 50%;
    height: 50%;
    border-width: 0px 0px 5px 5px;
}
#bottom-left {
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 50%;
    border-width: 5px 5px 0px 0px;
}
#bottom-right {
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 50%;
    border-width: 5px 0px 0px 5px;
    padding: 10px;
    color:#ddd;
}

body {
    background-color:#333;
    
}

video {
    height:100%;
    position:absolute;
    right:0px;
    max-width:100%;
}

h3 {
    margin-top:0px;
}

#person-info {
    text-align:center;
    /* color:#ddd; */
    font-family:sans-serif;
}
.preview-screen {
    /*text-align:center;*/
    /* color:#ddd; */

}
.person-preview h1 {
    font-size:60px;
    color:#eee;
}
.person-preview h2 {
    font-size:40px;
    color:#eee;
}
#upcoming-queue {
    color:black;
    position:relative;
}
.list-group {
    overflow:scroll;
    /*max-height: 35vh;*/
    position:fixed;
    top:100px;
    bottom:0;
    left:0;
    /*right:10px;*/
    width:50%;
    padding:0 10px;
}

.list-group-item .handle{color:#aaa;width: 45px;background:#fcfdfc;text-align:center;border-right: solid 1px #eee;cursor:move;padding-top: 14px;padding-bottom: 14px;margin: -10px 20px -10px -15px;display: inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.list-group-item:hover .handle{background:#f8f8f8;color:#626262;}
.list-group-item .handle:before{
      content: "\f0c9";
}

.parent-hover{visibility: hidden;}
*:hover > .parent-hover{visibility: visible;}