.quadrant {
    position: fixed;
    border: 5px solid #444;
}

h1 {
    color:#999
}

#top-left {
    left: 0px;
    top: 0px;
    width: 50%;
    height: 50%;
    border-width: 0px 5px 5px 0px;
    overflow:scroll;
}
#top-right {
    right: 0px;
    top: 0px;
    width: 50%;
    height: 50%;
    border-width: 0px 0px 5px 5px;
}
#bottom-left {
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 50%;
    border-width: 5px 5px 0px 0px;
}
#bottom-right {
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 50%;
    border-width: 5px 0px 0px 5px;
}

body {
    background-color:#333;
    color:#ddd;
}

video {
    height:100%;
    position:absolute;
    right:0px;
    max-width:100%;
}

h3 {
    margin-top:0px;
}

#person-info {
    text-align:center;
    /* color:#ddd; */
    font-family:sans-serif;
}
.preview-screen {
    text-align:center;
    /* color:#ddd; */

}
.person-preview h1 {
    font-size:60px;
    color:#eee;
}
.person-preview h2 {
    font-size:40px;
    color:#eee;
}
#upcoming-queue {
    color:black;
}
.list-group {
    overflow:scroll;
    max-height: 35vh;
}